#screen{
background-image:url("../img/Aqualab.png");
background-repeat:no-repeat;
background-size:100%;
width:100vw;
height:100vh;
}
#resultDiv{
  padding-top:40%;
  background-color:lightskyblue;
  opacity:0.7;
  color:white;
}
.interaction{
  height:100%;
  width:90%;
  padding:0;
  border-radius:17px;
  font-size:30px;
}
#infoBtn{
  margin:10% 10% 0% 74%;
  width:20%;
  height:50%;
}




