#screen{
 background-image:url("../img/Aqualab.png");
background-repeat:no-repeat;
  background-size:100%;
            width:100vw;
           height:100vh;
}
.jumbotron{
        margin-top:1%;
          position:absolute;
             width:60%;
  background-color:#1565C0;
             color:white;
}
#info{
  font-size:large;
     margin:0;
} 
#result{
   border-style:dotted;
   border-color:#1565C0;
  border-radius:17px;
}
#icon{
        padding:10%;
        display:inline-block;
     text-align:center;
   border-style:solid;
   border-color:white;
  border-radius:17px;
}
.row{
  margin-top:60vw;
}
.interaction{
         height:100%;
          width:30vw;
        padding:0;
         margin:1% 1% 1% 65%;
  border-radius:17px;
      font-size:30px;
}
#infoBtn{
  margin:1% 1% 1% 65%;
   width:30%;
  height:50%;
}
footer{
      font-size:large;
     margin-top:20vh;
     text-align:center;
  align-content:center;

}




