body{
  background-color:white;
  max-width:400px;
  margin:auto;
  padding:0;
}

h2{
  position:absolute;
  background-color:#87bdd8;
  color:white;
  font-size:17px;
  text-align:center;
  height:auto;
}
p{
  position:absolute;
  background-color:#87bdd8;
  color:white;
  font-size:17px;
  text-align:center;
  height:auto;
}
img{
  position:absolute;
  padding:0%;
  width:100%;
  max-width:400px;
}
#screen{
margin:0;
padding:0;
width:100%;
max-width:400px;
}
#resultDiv{
  position:absolute;
  height:100px;
  width:100%;
  margin-top:40%;
  border-radius:17px;
}
#result{
  font-size:70px;
}
#fields{
  margin-top:80%;
 }
#infoBtn{
  font-size:35px; 
  width:60px;
  height:60px;
  position:relative;
  float:right;
  margin:10%;
  border-radius:50%;
  padding-top:4px;
}
.interaction{
  display:flex;
  justify-content:space-around;
  height:40px;
  width:120px;
  border-radius:17px;
  font-size:30px;
  margin:0%;
  padding:0%;
}




